.filter {
  /* float: left; */
  /* width: 16%; */
  height: 20%;
}

.shopping-items {
  /* float: left; */
  /* width: 83%; */
  padding-left: 1%;
  padding-top: 1.5%;
}

.pagination {
  display: flex;
  justify-content: center;
}

.ngx-pagination {
  padding-left: 0;
}

.filter-choice:hover {
  cursor: pointer;
  color: white;
  background-color: darkgray;
}
