.filter {
  height: 20%;
}

.shopping-items {
  padding-left: 1%;
  padding-top: 1.5%;
}

.pagination {
  display: flex;
  justify-content: center;
}

.ngx-pagination {
  padding-left: 0;
}

.filter-type {
  font-size: 16px;
  border-top: solid 1px black;
  padding-top: 10px;
}

.filter-type:hover {
  cursor: pointer;
}

.filter-choice:hover {
  cursor: pointer;
  color: white;
  background-color: darkgray;
}

.filter-choice input:hover {
  cursor: pointer;
}

.plus-minus-sign {
  float: right;
}

.filter-choices {
  list-style: none;
  padding-left: 10px;
}

.filter-area {
  background: rgb(246, 246, 245);
}

.filter-heading {
  font-size: 16px;
  padding-top: 10px;
}

.card-style {
  width: 12rem;
  text-align: center;
  border: none;
}

.link-style {
  max-width: 100%;
  max-height: 100%;
}

.link-text {
  color: black;
}
