<div class="container">
  <div class="row">
    <div class="filter col-md-3 col-lg-2 border" style="background: rgb(246, 246, 245);">
      <h3 style="font-size: 16px; padding-top: 10px;">Filters</h3>
      <div>
        <h3 (click)="filterExpand1 = !filterExpand1"
          style="font-size: 16px; border-top: solid 1px black; padding-top: 10px;">
          Brand
          <img style="float: right;" *ngIf="filterExpand1 == false" src="../../assets/images/icons8-plus-math-16.png">
          <img style="float: right;" *ngIf="filterExpand1 == true" src="../../assets/images/icons8-subtract-16.png">
        </h3>
        <ul style="list-style: none; padding-left: 10px;" [ngStyle]="{'display': filterExpand1 ? 'block' : 'none'}">
          <li class="filter-choice">
            <a>
              <input type="checkbox" [(ngModel)]="brandFilter.Adidas" (ngModelChange)="performFilter()">
              Adidas
            </a>
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="brandFilter.Asics" (ngModelChange)="performFilter()">
            Asics
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="brandFilter.Fila" (ngModelChange)="performFilter()">
            Fila
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="brandFilter.NewBalance" (ngModelChange)="performFilter()">
            New Balance
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="brandFilter.Nike" (ngModelChange)="performFilter()">
            Nike
          </li>
        </ul>
      </div>

      <div *ngIf="isMen()" style="cursor: pointer">
        <h3 (click)="filterExpand2 = !filterExpand2"
          style="font-size: 16px; border-top: solid 1px black; padding-top: 10px;">
          Size
          <img style="float: right;" *ngIf="filterExpand2 == false" src="../../assets/images/icons8-plus-math-16.png">
          <img style="float: right;" *ngIf="filterExpand2 == true" src="../../assets/images/icons8-subtract-16.png">
        </h3>
        <ul style="list-style: none; padding-left: 10px;" [ngStyle]="{'display': filterExpand2 ? 'block' : 'none'}">
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size1" (ngModelChange)="performFilter()">
            6
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size2" (ngModelChange)="performFilter()">
            6.5
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size3" (ngModelChange)="performFilter()">
            7
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size4" (ngModelChange)="performFilter()">
            7.5
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size5" (ngModelChange)="performFilter()">
            8
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size6" (ngModelChange)="performFilter()">
            8.5
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size7" (ngModelChange)="performFilter()">
            9
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size8" (ngModelChange)="performFilter()">
            9.5
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size9" (ngModelChange)="performFilter()">
            10
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size10" (ngModelChange)="performFilter()">
            10.5
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size11" (ngModelChange)="performFilter()">
            11
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size12" (ngModelChange)="performFilter()">
            11.5
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size13" (ngModelChange)="performFilter()">
            12
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size14" (ngModelChange)="performFilter()">
            12.5
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size15" (ngModelChange)="performFilter()">
            13
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size16" (ngModelChange)="performFilter()">
            14
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size17" (ngModelChange)="performFilter()">
            15
          </li>
        </ul>
      </div>
      <div *ngIf="!isMen()" style="cursor: pointer">
        <h3 (click)="filterExpand2 = !filterExpand2"
          style="font-size: 16px; border-top: solid 1px black; padding-top: 10px;">
          Size
          <img style="float: right;" *ngIf="filterExpand2 == false" src="../../assets/images/icons8-plus-math-16.png">
          <img style="float: right;" *ngIf="filterExpand2 == true" src="../../assets/images/icons8-subtract-16.png">
        </h3>
        <ul style="list-style: none; padding-left: 10px;" [ngStyle]="{'display': filterExpand2 ? 'block' : 'none'}">
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size1" (ngModelChange)="performFilter()">
            5
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size2" (ngModelChange)="performFilter()">
            5.5
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size3" (ngModelChange)="performFilter()">
            6
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size4" (ngModelChange)="performFilter()">
            6.5
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size5" (ngModelChange)="performFilter()">
            7
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size6" (ngModelChange)="performFilter()">
            7.5
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size7" (ngModelChange)="performFilter()">
            8
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size8" (ngModelChange)="performFilter()">
            8.5
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size9" (ngModelChange)="performFilter()">
            9
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size10" (ngModelChange)="performFilter()">
            9.5
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size11" (ngModelChange)="performFilter()">
            10
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size12" (ngModelChange)="performFilter()">
            10.5
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size13" (ngModelChange)="performFilter()">
            11
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size14" (ngModelChange)="performFilter()">
            11.5
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="sizeFilter.size15" (ngModelChange)="performFilter()">
            12
          </li>
        </ul>
      </div>

      <div style="cursor: pointer">
        <h3 (click)="filterExpand3 = !filterExpand3"
          style="font-size: 16px; border-top: solid 1px black; padding-top: 10px;">
          Color
          <img style="float: right;" *ngIf="filterExpand3 == false" src="../../assets/images/icons8-plus-math-16.png">
          <img style="float: right;" *ngIf="filterExpand3 == true" src="../../assets/images/icons8-subtract-16.png">
        </h3>
        <ul style="list-style: none; padding-left: 10px;" [ngStyle]="{'display': filterExpand3 ? 'block' : 'none'}">
          <li>
            <input type="checkbox" [(ngModel)]="colorFilter.color1" (ngModelChange)="performFilter()">
            Black
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="colorFilter.color2" (ngModelChange)="performFilter()">
            Blue
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="colorFilter.color3" (ngModelChange)="performFilter()">
            Green
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="colorFilter.color4" (ngModelChange)="performFilter()">
            Gray
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="colorFilter.color5" (ngModelChange)="performFilter()">
            Purple
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="colorFilter.color6" (ngModelChange)="performFilter()">
            Red
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="colorFilter.color7" (ngModelChange)="performFilter()">
            White
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="colorFilter.color8" (ngModelChange)="performFilter()">
            Yellow
          </li>
        </ul>
      </div>
      <div style="cursor: pointer">
        <h3 (click)="filterExpand4 = !filterExpand4"
          style="font-size: 16px; border-top: solid 1px black; padding-top: 10px;">
          Outsole Warranty
          <img style="float: right;" *ngIf="filterExpand4 == false" src="../../assets/images/icons8-plus-math-16.png">
          <img style="float: right;" *ngIf="filterExpand4 == true" src="../../assets/images/icons8-subtract-16.png">
        </h3>
        <ul style="list-style: none; padding-left: 10px;" [ngStyle]="{'display': filterExpand4 ? 'block' : 'none'}">
          <li>
            <input type="checkbox" [(ngModel)]="outsoleWarrantyFilter.warranty1" (ngModelChange)="performFilter()">
            Yes
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="outsoleWarrantyFilter.warranty2" (ngModelChange)="performFilter()">
            No
          </li>
        </ul>
      </div>
      <div style="cursor: pointer">
        <h3 (click)="filterExpand5 = !filterExpand5"
          style="font-size: 16px; border-top: solid 1px black; padding-top: 10px;">
          Price
          <img style="float: right;" *ngIf="filterExpand5 == false" src="../../assets/images/icons8-plus-math-16.png">
          <img style="float: right;" *ngIf="filterExpand5 == true" src="../../assets/images/icons8-subtract-16.png">
        </h3>
        <ul style="list-style: none; padding-left: 10px;" [ngStyle]="{'display': filterExpand5 ? 'block' : 'none'}">
          <li>
            <input type="checkbox" [(ngModel)]="priceFilter.range1" (ngModelChange)="performFilter()">
            $40 - $49.99
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="priceFilter.range2" (ngModelChange)="performFilter()">
            $50 - $59.99
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="priceFilter.range3" (ngModelChange)="performFilter()">
            $60 - $69.99
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="priceFilter.range4" (ngModelChange)="performFilter()">
            $70 - $79.99
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="priceFilter.range5" (ngModelChange)="performFilter()">
            $80 - $89.99
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="priceFilter.range6" (ngModelChange)="performFilter()">
            $90 - $99.99
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="priceFilter.range7" (ngModelChange)="performFilter()">
            $100 - $109.99
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="priceFilter.range8" (ngModelChange)="performFilter()">
            $110 - $119.99
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="priceFilter.range9" (ngModelChange)="performFilter()">
            $120 - $129.99
          </li>
        </ul>
      </div>
    </div>
    <div class="shopping-items col-md-9 col-lg-10">
      <div class="row">
        <span *ngFor="let product of filteredProducts | paginate: { itemsPerPage: 16, currentPage: p }">
          <div class="col">
            <div class="card" style="width: 12rem; text-align: center; border: none;">
              <a *ngIf="isMen()" [routerLink]="['/shoe-men', product.id]">
                <img src="{{ product.thumbURL }}" style="max-width: 100%; max-height: 100%;">
              </a>
              <a *ngIf="!isMen()" [routerLink]="['/shoe-women', product.id]">
                <img src="{{ product.thumbURL }}" style="max-width: 100%; max-height: 100%;">
              </a>
              <div class="card-body">
                <p class="card-text">
                  <a *ngIf="isMen()" [routerLink]="['/shoe-men', product.id]" style="color: black;">
                    {{ product.name }}
                  </a>
                  <a *ngIf="!isMen()" [routerLink]="['/shoe-women', product.id]" style="color: black;">
                    {{ product.name }}
                  </a>
                  <br>${{ product.price }}
                </p>
              </div>
            </div>
          </div>
        </span>
      </div>
      <div class="pagination">
        <pagination-controls (pageChange)="p = $event" max-size="10"></pagination-controls>
      </div>
    </div>
  </div>
</div>
