<div style="text-align: center; padding-top: 30px; padding-bottom: 30px;">
  <h1>Shoe Exchange</h1>
</div>

<ul style="list-style-type: none; height: 550px;">
  <li>
    <img src="../../assets/images/photo-1542291026-7eec264c27ff.jpeg" style="float: left;">
    <h1 style="padding-top: 200px; text-align: center;">
      Countless Brands. You name it, we have it.
    </h1>
    <h3 style="padding-top: 10px; text-align: center;">
      If we don't have a shoe that you are looking for, we will find it for you.
    </h3>
  </li>
</ul>

<ul style="list-style-type: none; height: 700px">
  <li>
    <img src="../../assets/images/photo-1525966222134-fcfa99b8ae77.jpeg"
      style="float: right; width: 800px; height: 700px;">
    <h1 style="padding-top: 300px; text-align: center;">
      Tailored shoe just for you.
    </h1>
    <h3 style="padding-top: 10px; text-align: center;">
      Too big of a size? Flat-footed? We've got you covered.
    </h3>
  </li>
</ul>

<ul style="list-style-type: none; height: 600px;">
  <li>
    <img src="../../assets/images/photo-1542834281-0e5abcbdc5b4.jpeg" style="float: left;">
    <h1 style="padding-top: 200px; text-align: center;">
      Used Shoe Merchandise.
    </h1>
    <h3 style="padding-top: 10px; text-align: center;">
      Want to sell used shoes? Want to buy used shoes? Please come in.
    </h3>
  </li>

</ul>
