<nav class="navbar fixed-top navbar-expand-sm navbar-light navbarTweaks" style="text-align: center;">
  <div class="container">

    <a class="navbar-brand" href="#" [routerLink]="['/home']">
      <img src="../assets/images/match-point-tennis-brand-image.png" alt=""/>
      <!-- width="100" height="100" -->
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#mptNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mptNav">
      <ul class="navbar-nav">
        <li class="nav-item active menu-button-tweak">
          <a class="nav-link" [routerLink]="['/racquets']" routerLinkActive="clicked-link">Racquets</a>
        </li>

        <li class="nav-item active menu-button-tweak dropdown">
            <a class="nav-link dropdown-toggle" href="" id="shoesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" routerLinkActive="clicked-link">Shoes</a>

            <div class="dropdown-menu" aria-labelledby="shoesDropdown">
              <a class="dropdown-item" href="#">Men's Shoes</a>
              <a class="dropdown-item" href="#">Women's Shoes</a>
            </div>
          </li>


        <li class="nav-item active menu-button-tweak dropdown">
          <a class="nav-link dropdown-toggle" href="" id="apparelDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" routerLinkActive="clicked-link">Apparel</a>

          <div class="dropdown-menu" aria-labelledby="apparelDropdown">
            <a class="dropdown-item" [routerLink]="['/apparel-men']">Men's Apparel</a>
            <a class="dropdown-item" href="#">Women's Apparel</a>
          </div>
        </li>

        <li class="nav-item active menu-button-tweak">
          <a class="nav-link" routerLinkActive="clicked-link">Other Items</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="mainArea">
  <router-outlet></router-outlet>
</div>

