.navbarTweaks {
  background-color: #fff;
  border-bottom: 1px solid black;
  padding: 0;
}

.mainArea1 {
  margin-top: 121px;
  /* 201px; */
  /* 101px */
}

.mainArea2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mainArea3 {
  margin-top: 151px;
  margin-bottom: 30px;
}

.mai

/* .navbar-nav li {
  padding-top: 5px;
  border-bottom: 5px solid transparent;
}

.navbar-nav li:hover {
  border-bottom-color: red;
} */

.clicked-link {
  border-bottom: 5px solid red;
}

.menu-button-tweak {
  margin-right: 20px;
}

.dropdown-menu {
  margin: -0.125rem 0 0;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}
