<nav class="navbar fixed-top navbar-expand-sm navbar-light navbarTweaks">
  <div class="container">
    <a class="navbar-brand" href="#" style="padding: 0;" [routerLink]="['/home']">
      <img src="../assets/images/bdbe9b96-928d-47d5-aade-f6c831f0203d_200x200.png"  alt="" />
      <!-- width="100" height="100" -->
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mptNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mptNav">
      <ul class="navbar-nav">
        <li class="nav-item active menu-button-tweak">
          <a class="nav-link" href="#"  routerLinkActive="clicked-link">Racquets</a>
          <!-- [routerLink]="['/menu']" -->
        </li>
        <li class="nav-item active menu-button-tweak dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="shoesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" routerLinkActive="clicked-link">Shoes</a>
          <!-- [routerLink]="['/menu']" -->

          <div class="dropdown-menu" aria-labelledby="shoesDropdown">
            <a class="dropdown-item" href="#">Men</a>
            <a class="dropdown-item" href="#">Women</a>
          </div>
        </li>
        <li class="nav-item active menu-button-tweak dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="apparelDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" routerLinkActive="clicked-link">Apparel</a>
          <!-- [routerLink]="['/menu']" -->

          <div class="dropdown-menu" aria-labelledby="apparelDropdown">
            <a class="dropdown-item" href="#">Men</a>
            <a class="dropdown-item" href="#">Women</a>
          </div>
        </li>
        <li class="nav-item active menu-button-tweak">
          <a class="nav-link" href="#"  routerLinkActive="clicked-link">Other Items</a>
          <!-- [routerLink]="['/about-us']" -->
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="mainArea">
  <router-outlet></router-outlet>
</div>
