.spec-table td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.spec-table tr:nth-child(even) {
  background-color: #dddddd;
}

.left-box {
  padding-right: 110px;
}

.right-box {
  padding-left: 110px;
}

.previous-page {
  cursor: pointer;
}

.previous-page:hover {
  text-decoration: underline;
}
