<div class="container">
  <div class="filter" style="background: rgb(246, 246, 245);">
    <h3 style="font-size: 16px;">Filters</h3>
    <div style="cursor: pointer;">
      <h3 (click)="filterExpand1 = !filterExpand1" style="font-size: 16px; border-top: solid 1px black; padding-top: 10px;">
        Brand
        <img style="float: right;" *ngIf="filterExpand1 == false" src="../../assets/images/icons8-plus-math-16.png">
        <img style="float: right;" *ngIf="filterExpand1 == true" src="../../assets/images/icons8-subtract-16.png">
      </h3>
      <ul style="list-style: none;" [ngStyle]="{'display': filterExpand1 ? 'block' : 'none'}">
        <li>
          filter 1
        </li>
        <li>
          filter 2
        </li>
        <li>
          filter 3
        </li>
      </ul>
    </div>
    <div style="cursor: pointer">
      <h3 (click)="filterExpand2 = !filterExpand2" style="font-size: 16px; border-top: solid 1px black; padding-top: 10px;">
        Head Size
        <img style="float: right;" *ngIf="filterExpand1 == false" src="../../assets/images/icons8-plus-math-16.png">
        <img style="float: right;" *ngIf="filterExpand1 == true" src="../../assets/images/icons8-subtract-16.png">
      </h3>
      <ul style="list-style: none;" [ngStyle]="{'display': filterExpand2 ? 'block' : 'none'}">
        <li>
          filter 1
        </li>
        <li>
          filter 2
        </li>
        <li>
          filter 3
        </li>
      </ul>
    </div>
    <div style="cursor: pointer">
      <h3 (click)="filterExpand3 = !filterExpand3" style="font-size: 16px; border-top: solid 1px black; padding-top: 10px;">
        String Pattern
        <img style="float: right;" *ngIf="filterExpand1 == false" src="../../assets/images/icons8-plus-math-16.png">
        <img style="float: right;" *ngIf="filterExpand1 == true" src="../../assets/images/icons8-subtract-16.png">
      </h3>
      <ul style="list-style: none;" [ngStyle]="{'display': filterExpand3 ? 'block' : 'none'}">
        <li>
          filter 1
        </li>
        <li>
          filter 2
        </li>
        <li>
          filter 3
        </li>
      </ul>
    </div>
    <div style="cursor: pointer">
      <h3 (click)="filterExpand4 = !filterExpand4" style="font-size: 16px; border-top: solid 1px black; padding-top: 10px;">
        Length
        <img style="float: right;" *ngIf="filterExpand1 == false" src="../../assets/images/icons8-plus-math-16.png">
        <img style="float: right;" *ngIf="filterExpand1 == true" src="../../assets/images/icons8-subtract-16.png">
      </h3>
      <ul style="list-style: none;" [ngStyle]="{'display': filterExpand4 ? 'block' : 'none'}">
        <li>
          filter 1
        </li>
        <li>
          filter 2
        </li>
        <li>
          filter 3
        </li>
      </ul>
    </div>
    <div style="cursor: pointer">
      <h3 (click)="filterExpand5 = !filterExpand5" style="font-size: 16px; border-top: solid 1px black; padding-top: 10px;">
        Weight
        <img style="float: right;" *ngIf="filterExpand1 == false" src="../../assets/images/icons8-plus-math-16.png">
        <img style="float: right;" *ngIf="filterExpand1 == true" src="../../assets/images/icons8-subtract-16.png">
      </h3>
      <ul style="list-style: none;" [ngStyle]="{'display': filterExpand5 ? 'block' : 'none'}">
        <li>
          filter 1
        </li>
        <li>
          filter 2
        </li>
        <li>
          filter 3
        </li>
      </ul>
    </div>
    <div style="cursor: pointer">
      <h3 (click)="filterExpand6 = !filterExpand6" style="font-size: 16px; border-top: solid 1px black; padding-top: 10px;">
        Price
        <img style="float: right;" *ngIf="filterExpand1 == false" src="../../assets/images/icons8-plus-math-16.png">
        <img style="float: right;" *ngIf="filterExpand1 == true" src="../../assets/images/icons8-subtract-16.png">
      </h3>
      <ul style="list-style: none;" [ngStyle]="{'display': filterExpand6 ? 'block' : 'none'}">
        <li>
          filter 1
        </li>
        <li>
          filter 2
        </li>
        <li>
          filter 3
        </li>
      </ul>
    </div>
  </div>
  <div class="shopping-items">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/BPAPR-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/BPAR-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/BPARL-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/BPART-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/BPATRR-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/BPD1H-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/BPDL-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/BPDT-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/BPDTP-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/BTPD-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/PDP-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/BPSTRI-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/BPSTRT-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/BPSTTO-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/PS1619-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; text-align: center; border: none;">
          <a>
            <img src="../../assets/images/PS182-thumb.jpg">
          </a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
