<div class="container">
  <span (click)="backToApparel()" class="previous-page">&larr; Back to men's apparel</span>
  <div class="row">
    <div class="col left-box">
      <ngx-image-zoom [thumbImage]="currentApparel.zoomThumb" [fullImage]="currentApparel.zoomFull"></ngx-image-zoom>
      <br>HOVER TO ZOOM
    </div>
    <div class="col right-box">
      {{ currentApparel.name }}<br><br>
      <form #form="ngForm" ngNativeValidate>
        <label>Size</label><br>
        <select name="size" [(ngModel)]="size" pattern="[A-Za-z0-9].*" #input1="ngModel">
          <option>- Select Size -</option>
          <option *ngFor="let sizeChoice of currentApparel.size">{{ sizeChoice }}</option>
        </select>
        <span *ngIf="input1.invalid">
          <br><span style="font-size: 12px; color: #b80000">
            Please Choose Size
          </span>
        </span><br><br>
        <label>Color</label><br>
        <select name="color" [(ngModel)]="color" pattern="[A-Za-z0-9].*" #input2="ngModel">
          <option>- Select Color -</option>
          <option *ngFor="let colorChoice of currentApparel.color">{{ colorChoice }}</option>
        </select>
        <span *ngIf="input2.invalid">
          <br><span style="font-size: 12px; color: #b80000">
            Please Choose Color
          </span>
        </span><br><br>
        <label>Quantity</label><br>
        <select name="quantity" [(ngModel)]="quantity">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
        </select><br><br>
      </form>
      <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="addToCart()">Add To Cart</button>
    </div>
  </div>
</div>
