<span class="page-text">
  <h1 class="title">
    ERROR
  </h1>
  <h2>
    Oops! Something went wrong.
  </h2>
  <h5>
    If you were in the checkout process, please make sure to enter the correct information (credit card number, email address...) and try again.<br>
    If you were visiting a specific page, please revisit the page for reload.<br>
    If the error still persists, plese send an email to woyoo@umich.edu. Sorry for the inconvenience.
  </h5>
  <button type="button" class="btn btn-outline-primary home-button" [routerLink]="['/home']">Home Page</button>
</span>
