.spec-table td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.spec-table tr:nth-child(even) {
  background-color: #dddddd;
}

.left-box {
  padding-right: 110px;
  text-align: center;
}

.right-box {
  padding-left: 110px;
}
