<div class="container">

    <div *ngIf="shoppingAndPaymentInfo != null">
      <h4 class="mb-3">Shipping</h4>
      <form [formGroup]="shippingAndPaymentForm">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>

            <input type="text" class="form-control" id="firstName" formControlName="firstName">
            <span *ngIf="shippingAndPaymentForm.get('firstName').hasError('required')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              This field is required
            </span>
            <span *ngIf="shippingAndPaymentForm.get('firstName').hasError('pattern')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              Enter valid name, at least two characters are required
            </span>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <!-- placeholder="" value="" ^[a-zA-Z]{2,} -->
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
            <span *ngIf="shippingAndPaymentForm.get('lastName').hasError('required')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              This field is required
            </span>
            <span *ngIf="shippingAndPaymentForm.get('lastName').hasError('pattern')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              Enter valid name, at least two characters are required
            </span>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            <span *ngIf="shippingAndPaymentForm.get('email').hasError('required')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              This field is required
            </span>
            <span *ngIf="shippingAndPaymentForm.get('email').hasError('pattern')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              Enter valid email address
            </span>
          </div>
          <div class="col-md-6 mb-3">
            <label for="phoneNumber">Phone Number</label>
            <!-- placeholder="" -->
              <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
              <span *ngIf="shippingAndPaymentForm.get('phoneNumber').hasError('required')" style="font-size: 12px; color: #b80000; margin-left: 10px">
                This field is required
              </span>
              <span *ngIf="shippingAndPaymentForm.get('phoneNumber').hasError('pattern')" style="font-size: 12px; color: #b80000; margin-left: 10px">
                Enter valid 10 digit phone number, only enter numbers
              </span>
          </div>
        </div>






        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="1234 Main St" formControlName="address1">
          <span *ngIf="shippingAndPaymentForm.get('address1').hasError('required')" style="font-size: 12px; color: #b80000; margin-left: 10px">
            This field is required
          </span>
          <span *ngIf="shippingAndPaymentForm.get('address1').hasError('pattern')" style="font-size: 12px; color: #b80000; margin-left: 10px">
            This field is required
          </span>
        </div>

        <div class="mb-3">
          <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
          <input type="text" class="form-control" id="address2" placeholder="Apartment or suite" formControlName="address2">
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="city">City</label>
            <!-- <select class="custom-select d-block w-100" id="city" formControlName="city">
              <option value="">Choose...</option>
              <option>United States</option>
            </select> -->
            <input type="text" class="form-control" id="city" placeholder="" formControlName="city">
            <span *ngIf="shippingAndPaymentForm.get('city').hasError('required')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              This field is required
            </span>
            <span *ngIf="shippingAndPaymentForm.get('city').hasError('pattern')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              This field is required
            </span>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <select class="custom-select d-block w-100" id="state" formControlName="state">
              <option value="">Choose...</option>
              <option *ngFor="let state of stateList" value="{{ state }}">{{ state }}</option>
            </select>
            <span *ngIf="shippingAndPaymentForm.get('state').hasError('required')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              This field is required
            </span>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" placeholder="" formControlName="zipcode">
            <span *ngIf="shippingAndPaymentForm.get('zipcode').hasError('required')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              This field is required
            </span>
            <span *ngIf="shippingAndPaymentForm.get('zipcode').hasError('pattern')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              Format: '12345', '12345-6789', '12345 1234'
            </span>
          </div>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Payment</h4>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number <span class="text-muted">(Visa, Mastercard, American Express, Discover)</span></label>
            <input type="text" class="form-control" id="cc-number" formControlName="cardNumber">
            <span *ngIf="shippingAndPaymentForm.get('cardNumber').hasError('required')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              This field is required
            </span>
            <span *ngIf="shippingAndPaymentForm.get('cardNumber').hasError('pattern')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              Enter valid card number, only enter numbers
            </span>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-cvc">CVC</label>
            <input type="text" class="form-control" id="cc-cvc" formControlName="cvc">
            <span *ngIf="shippingAndPaymentForm.get('cvc').hasError('required')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              This field is required
            </span>
            <span *ngIf="shippingAndPaymentForm.get('cvc').hasError('pattern')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              Enter valid cvc
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-month">Expiration Month</label>
            <input type="text" class="form-control" id="cc-month" formControlName="expMonth">
            <span *ngIf="shippingAndPaymentForm.get('expMonth').hasError('required')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              This field is required
            </span>
            <span *ngIf="shippingAndPaymentForm.get('expMonth').hasError('pattern')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              Enter valid month: 01, 02, 03... 12
            </span>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-year">Expiration Year</label>
            <input type="text" class="form-control" id="cc-year" formControlName="expYear">
            <span *ngIf="shippingAndPaymentForm.get('expYear').hasError('required')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              This field is required
            </span>
            <span *ngIf="shippingAndPaymentForm.get('expYear').hasError('pattern')" style="font-size: 12px; color: #b80000; margin-left: 10px">
              Enter valid four digit year
            </span>
          </div>
        </div>
        <hr class="mb-4">
        <span class="d-flex justify-content-center">
          <button class="btn btn-danger btn-lg left-button" type="submit" (click)="cancelAndCleanUp()">Cancel</button>
          <button class="btn btn-primary btn-lg right-button" type="submit" (click)="sendInfo()" [disabled]="!shippingAndPaymentForm.valid">Continue</button>
        </span>
      </form>
    </div>
</div>
